<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Stichting Duikboot Events</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://www.youtube.com/cvdnduikboot"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/cvdnduikboot"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/cvdnduikboot"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Algemene voorwaarden</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

