@font-face {
    font-family: "Homizio";
    src: url('../fonts/Homizio_Regular.ttf')
}

@font-face {
    font-family: "DK_Lemon_Yellow_Sun";
    src: url('../fonts/DK_Lemon_Yellow_Sun.otf')
} 

header{ 
    height: 100vh;
}


.page-container {
    padding-top: 120px;
}

#mainNav {
    background-color: #222;
}


#message{ 
    height: 181px;
}

body {
    font-family: Homizio;
    font-size: large;
    min-height: 100%;
   
} 

/*Image Gallery*/

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

    .gallery-title:after {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #5e5e5e;
    }

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}

    .filter-button:hover {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        background-color: #42B32F;
    }

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
} 

#btn-header{ 
    margin-top: 50vh;
}

.navbar-custom{ 
    padding: 10px;
}

