@font-face {
    font-family: "Homizio";
    src: url('../fonts/Homizio_Regular.ttf')
}

@font-face {
    font-family: "DK_Lemon_Yellow_Sun";
    src: url('../fonts/DK_Lemon_Yellow_Sun.otf')
}

.btn-default {
    background-color: #f1c34d !important;
    color: #fff !important;
}

header{ 
    height: 100vh;
}


.page-container {
    padding-top: 120px;
}

#mainNav {
    background-color: #222;
}


#message{ 
    height: 181px;
}

body {
    font-family: Homizio;
    font-size: large;
    min-height: 100%;
   
} 

/*Image Gallery*/

.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

    .gallery-title:after {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #5e5e5e;
    }

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}

    .filter-button:hover {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        background-color: #42B32F;
    }

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
} 

#btn-header{ 
    margin-top: 50vh;
}

.navbar-custom{ 
    padding: 10px;
}

#bs-example-navbar-collapse-1 > ul {
    margin-top: 10px !important;
}

.port-image {
    width: 100%;
}

.gallery-img {
    margin-bottom: 30px;
}

.img-gallery{
    height: 250px;
    width: 100%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.img-gallery > .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
} 

 .img-gallery:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.3;
        background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png');
        background-repeat: no-repeat;
}

@media(max-width: 480px) {
    header { background-image: url('../img/website-header-mobiel.png'); }
    .img-gallery { height: 125px; }
}
